@import "./variables";

* {
  margin: 0px;
  padding: 0px;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#on-mobile-tablets {
  display: none;
}

@media (max-width: 1026px) {
  div#root {
    display: none;
  }
  div#on-mobile-tablets {
    display: block;
    font-family: $theme_font;
  }
}
