@import "./variables.scss";

nav {
  #logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
  }

  li,
  ul,
  a {
    color: $theme_black;
    z-index: 1;
  }
}

#search-page-header {
  position: relative;
  overflow: hidden;
}

footer#search-page-footer {
  background-color: rgb(30, 30, 36);
}

main {
  section#hero-section {
    background: $theme_color;
    display: flex;
    justify-content: space-between;
    height: 436px;

    #left-hero-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 30px;
      #header-card {
        width: 500px;
        height: 350px;
        display: flex;
        background: $theme_black;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 4px $theme_white;

        .card-content {
          h1 {
            color: $theme_color;
            font-family: $theme_font;
            font-size: 50px;
            margin-top: 10px;
            span {
              font-size: 55px;
            }
          }
        }
      }
    }
    #right-hero-section {
      background-color: white;
      width: 905px;
      height: 780px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translate(x, y);
      z-index: 0;
      border-radius: 50%;
      position: absolute;
      top: -70px;
      left: 48%;
      img {
        width: 567px;
        height: 480px;
      }
    }
  }
}

#search-page-bottom {
  font-family: $theme_font;
  padding: 50px;
  h2 {
    margin-bottom: 10px;
    font-size: 35px;
  }
  div.cards-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1389px) {
  main > section#hero-section > #right-hero-section {
    background-color: $theme_white;
    width: 925px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(x, y);
    z-index: 0;
    border-radius: 50%;
    position: absolute;
    top: -90px;
    left: 48%;
    img {
      width: 587px;
      height: 500px;
    }
  }

  @media (min-width: 2000px) {
    #search-page-bottom {
      div.cards-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
